//**************************/
//*  Current theme colors  */
//**************************/

// BackGrounds
$base-color: #F4E1E7;
// Destac colors
$destac-color: #E07B9D;
// Font colors 
$font-color: #282726;
// Border radius 
$defalt-radius: 10;
